.form{
  display:flex;
  flex-direction:column;
  text-align: center;
}
.textbox{
  display:flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.App {
  text-align: center;
}